Data Wrangling Notebook for JSaarinen Equus quagga and E.grevyi data
<br />
Neeka Sewnath
<br />
nsewnath@ufl.edu

In [11]:
import pandas as pd
import numpy as np
import uuid

Silence unnecessary errors

In [12]:
try:
    import warnings
    warnings.filterwarnings('ignore')
except:
    pass

Import JSarrinen Equus quagga and E.grevyi data

In [13]:
data = pd.read_csv("../Original_Data/Equus_quagga_and_E._grevyi_measurement_data.csv")

Adding additional required GEOME columns

In [14]:
data = data.assign(country = "Unknown", yearCollected = "Unknown", locality = "Unknown", basisOfRecord = "Unknown")

Create scientificName column by combining the Genus and Species columns

In [15]:
data = data.assign(scientificName = data["Genus"] + " " + data["species"])

Change specimen to individualID

In [16]:
data = data.rename(columns = {"specimen": "individualID"})

Combine measurement description and measurement codes to form on measurementType column

In [35]:
#TODO get all these to combine with eachother without carrying "nan" over



data["measurementType"] = data["Measurement description"].astype(str) + ";" + data["Measurement code (Scott 1990)"].astype(str) + ";" + data["Measurement code (Alberdi et al. 1995)"].astype(str)

In [36]:
data.columns

Index(['Genus', 'species', 'individualID', 'Measurement description',
       'Measurement code (Scott 1990)',
       'Measurement code (Alberdi et al. 1995)', 'Measurement (mm)', 'country',
       'yearCollected', 'locality', 'basisOfRecord', 'scientificName',
       'measurementType'],
      dtype='object')

In [37]:
data

,Genus,species,individualID,Measurement description,Measurement code (Scott 1990),Measurement code (Alberdi et al. 1995),Measurement (mm),country,yearCollected,locality,basisOfRecord,scientificName,measurementType
0,Equus,quagga,SMNS6708,Femur minimum diaphysis width,F6,NaN,37.09,Unknown,Unknown,Unknown,Unknown,Equus quagga,Femur minimum diaphysis width;F6;nan
1,Equus,quagga,SMNS6709,Femur minimum diaphysis width,F6,NaN,37.29,Unknown,Unknown,Unknown,Unknown,Equus quagga,Femur minimum diaphysis width;F6;nan
2,Equus,quagga,SMNS7335,Femur minimum diaphysis width,F6,NaN,38.54,Unknown,Unknown,Unknown,Unknown,Equus quagga,Femur minimum diaphysis width;F6;nan
3,Equus,quagga,SMNS6708,Femur maximum distal width,F5,NaN,89.28,Unknown,Unknown,Unknown,Unknown,Equus quagga,Femur maximum distal width;F5;nan
4,Equus,quagga,SMNS6709,Femur maximum distal width,F5,NaN,86.73,Unknown,Unknown,Unknown,Unknown,Equus quagga,Femur maximum distal width;F5;nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,Equus,grevyi,USNM182027,M1 length,NaN,NaN,23.70,Unknown,Unknown,Unknown,Unknown,Equus grevyi,M1 length;nan;nan
380,Equus,grevyi,USNM182028,M1 length,NaN,NaN,25.60,Unknown,Unknown,Unknown,Unknown,Equus grevyi,M1 length;nan;nan
381,Equus,grevyi,USNM182063,M1 length,NaN,NaN,27.70,Unknown,Unknown,Unknown,Unknown,Equus grevyi,M1 length;nan;nan
382,Equus,grevyi,USNM199079,M1 length,NaN,NaN,23.20,Unknown,Unknown,Unknown,Unknown,Equus grevyi,M1 length;nan;nan
383,Equus,grevyi,USNM241009,M1 length,NaN,NaN,21.70,Unknown,Unknown,Unknown,Unknown,Equus grevyi,M1 length;nan;nan